<h1>Favorites</h1>
<h3> If you haven't added any favorites yet, click on the Categories navigation link find one to add!</h3>
<% favorites.forEach(function(favorite) { %>
  <div>
    <img class="favorite-image" src="<%= favorite.strMealThumb %>" alt="<%= favorite.strMeal %>">
    <br />
    <a href="/categories/<%= favorite.idMeal %>"><%= favorite.strMeal %></a>
    <form method="POST" action="/categories/<%= favorite.idMeal %>/?_method=DELETE">
      <button class="btn btn-primary" type="submit">Remove Recipe</button>
    </form>
  </div>
<% }) %>
