<h1>Here is your chosen recipe. Enjoy!</h1>
<% meals.forEach(meal => { %>
  <img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>">
  <br />
  <%= meal.strMeal %>
  
  <form method="POST" action="/categories/favorites">
    <input hidden type="text" name="idMeal" value="<%= meal.idMeal %>">
    <input hidden type="text" name="strMeal" value="<%= meal.strMeal %>">
    <input hidden type="text" name="strMealThumb" value="<%= meal.strMealThumb %>">
    <button class="btn btn-primary" type="submit">Add to Favorite recipe</button>
  </form>
  
<% }) %>